*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Permanent Marker', cursive;
    background-color: #ebebeb;   

}

.header{
    background-image: linear-gradient(180deg, red, rgb(255, 187, 0));
    color: lightcyan;
    /*position: fixed;*/
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
}

.headerTitulo{
    width: 50%;
    text-align: center;
    justify-content: center;
    font-family:'Rock Salt', cursive, sans-serif;
    font-size: 28PX;
    display: none;
    color: #000;
    text-shadow: 0 0 5px rgb(114, 7, 7);
}

.container{
    width:85%;
    max-width: 850px;
    margin: 0 auto;
}

.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

header div img{
    width: 12rem;
}

.nav-bar {
    font-size: 15px;
    margin: auto;
    display: none;

}
.navmargin {
    text-align: center;
    padding: 1.2rem;
}


header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
    padding: 5px;
    display: block;
    padding-bottom: 10px;
    margin-left: 1rem;
    
}

header ul li a:hover{
    transform: scale(1.1);
    font-weight: bold;

}

div.burger-menu{
    text-align: center;
}

button{
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px #000;
}

div.burger-menu button i{
    background-image: linear-gradient(180deg, rgb(255, 187, 0), red);
    border-radius:5px;
    color: #FFF;
    font-size: 15px;
    height: 30px;
    /*margin: 10px 0px 20px 0px;*/
    padding: 7px;
    width: 30px;
}


.main{
    background-image: linear-gradient(90deg, rgb(168, 159, 159), rgb(212, 152, 152));
    margin-bottom: -10px;
}

section.banner img{
    width: 100%;
}

.productosDestacados{
    margin-bottom: 1rem;
    text-align: center;
    padding-top: 1rem;
    font-size: 35px;
    font-family: 'Permanent Marker', cursive;
}

main section article img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;

    
}

.main-article{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
    background-color: white;
    border-bottom-left-radius: 10PX;
    border-bottom-right-radius: 10PX;
    margin-bottom: 2rem;
}

.price{
    font-size: 14px;
    width: 100%;
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    color: grey;
}

.discount{
    color: white;
    padding: 8px;
    background-color: green;
    border-radius: 10px;
}

.discount-trampa{
    color: white;
    padding: 8px;
    background-color: white;
    border-radius: 10px;
}

.finalPrice{
    font-size: 18px;
    width: 50%;
    color: green;
    font-weight: bold;
}

.discount{
    font-size: 16px;
    font-weight: normal;
}


.description-detail{
    font-size: 30px;
    font-weight: bold;
    color: rgb(189, 91, 0);
     margin-top: 20px;
    width: 90%;

}

.description{
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
     margin-top: 20px;
    width: 90%;
    font-family: 'Permanent Marker', cursive;

}

.descriptionLarge,
.category,
.brand{
    font-size: 16px;
    color: #666;
     margin-top: 20px;
    width: 90%;
}

.modifyButton{
    width: 75px;
    position: absolute;
    padding: .5rem;
    background-color: coral;
    right: 20px;
    bottom: -1px;
}

.deleteProductButton{
    width: 75px;
    position: absolute;
    padding: .5rem;
    background-color: red;
    right: 120px;
    bottom: -1px;
}

.fa-music{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #484b48;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: all 0.7S;

}

main section article .fa-music:hover {
    transform: rotateY(360deg);
    background-color: tomato;
}


main section article:hover .main-article{
    transform:scale(1.06);
    
}

/*main section article*/
.productList:hover img {
    transform:scale(1.06)
}

main section article:hover .fa-cart-arrow-down{
    display: block;
}

main section article .fa-cart-arrow-down:hover{
    color: green;
}

.fa-cart-arrow-down{
    font-size: 16px;
    position: absolute;
    right: 1rem;
    bottom: 5px;
    padding: 8px;
    background-color: #FFF;
    border-radius: 50%;
    display: none;
}

.footer{
    background-color: rgb(44, 42, 42);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;
    color: whitesmoke;
}

.icon-footer{
    font-size: 35px;
    color: whitesmoke;
    background-color:  rgb(44, 42, 42);
    margin-bottom: 10px;
    
    
}


p, footer{
    margin: 0;
    
}

h4, footer{
    margin: 0;
}

.footer-align{
    width: 85%;
    margin: auto;
}

.align-left{
text-align: center;
}


/*@Media*/

@media (min-width: 480px){

    main section div.products{
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    
    main section div.products article{
        width: 50%;
    }
    .cartResume h5{
        width: 55% ;
    }
    .cartValue{
        width: 35% ;
        text-align: left;
    }
}

@media (min-width: 768px){
    .finalPrice{
        
        width: 80%;
        
    }

    main section div.products article{
        width: 33%;
    }

    #nav-bar{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 85%;
        padding: 5px;
        align-items: center;
        font-size: 18px;
        margin: auto;
    }
    
    nav ul {
        display: flex;
        flex-wrap: wrap; 
    }

    div.burger-menu{
        display: none;
    }
    main section div.productDetail article{
   
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:center;
    }
    
    main section div.productDetail article .main-articleDetail{
    
        width: 45%;
    }
    .videoTutorial{
        width: 560px;
        height: 315px;
    }
}

@media (min-width: 1000px){

    main section div.products article{
        width: 25%;
    }

    .headerIntro{
        width: 15%;
    }

    .headerTitulo{
        display: flex;
    }

    .footer-align{
        display: flex;
        flex-wrap: wrap; 
        justify-content:space-between
    }

    .footer-align div{
        width: 30%;
        padding-bottom: 40px;
    }
}

/*borrador*/

/*.productDetail{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;

}*/

.productDetail{
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: baseline;
    position: relative;
    padding: 15px;
    background-color: white;
    border-radius: 10px;

}

.main-articleDetail{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Permanent Marker', cursive;
    margin-left: auto;
    margin-right: auto;
    align-items: baseline;
    position: relative;
    padding: 15px;
    background-color: white;
   /* border-bottom-left-radius: 10PX;
    border-bottom-right-radius: 10PX;*/
    margin-bottom: 2rem;
}

.cartDetail{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    
    /*align-items: baseline;
    position: relative;
    padding: 15px;

    background-color: white;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-top: 2rem;*/
}

.imgCart{
    width: 20%;
}

.cartDescription{
    width: 80%;
}

.cartDescriptionName{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: .5rem;
    margin-bottom: 1rem;
}



.cartDescriptionValue{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.priceCart{
    font-size: 14px;
    width: 25%;
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    color: grey;
}

.discountCart{
    color: white;

    padding: 2px;
    background-color: green;
    border-radius: 10px;
    text-align: right;
}

.finalPriceCart{
    font-size: 18px;
    width: 25%;
    color: green;
    font-weight: bold;
    text-align: right;
 
}

.qtyCart{
    width: 15%;
    border-radius: 5px;

}

.cartResume{
    background-color: white;
    border-radius: 10px; 
    margin-bottom: 2rem;
    margin-top: 2rem; 
    display: flex; 
    flex-wrap: wrap;
}

.cartResume {
     
    justify-content: space-between;
}

.cartResume h5{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 35% ;
    justify-content: space-between;
}

.cartValue{
    text-align: right;
    margin-left: 1rem;
    margin-right: 1rem;
}

.cartResume h2{
    text-align: center;
    width: 100%;

}

.resumeButton{
    width: 100%;
    justify-content: center;
    display: flex;
    
    flex-wrap: wrap;
}

.resumeButton input{
    background-color: green;
    margin: 10px;
    border-radius: 10px;
    width: 60%;
    font-size: 20px;
    color: whitesmoke;
    height: 2rem;
}

.containerCreate , .containerEdit , .containerRegister , .containerLogin{
    width: 90%;
    max-width: 360px;
    position: relative;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    border-style: solid;
    background-color: whitesmoke;
    padding: .5rem;
}

.tutorial{
    padding: 1rem; 
    text-align: center;
}

.titleTutorial{
    padding: .5rem;
    text-decoration: underline;

}

.createButtons , .editButtons , .registerButtons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.deleteButton{
    border-radius: 5px;
    margin: .2rem;
    width: 25%;
    color: whitesmoke;
    background-color: red;
    
}

.createButton , .editButton , .registerButton , .sendButton{
    border-radius: 5px;
    margin: .2rem;
    width: 25%;
    color: whitesmoke;
    background-color: green;    
}


.userArticle{
   
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    background-color: whitesmoke;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    align-items: center;



}

.userImg{
    width: 30%;
    border-radius: 50PX;
    
}

.userDivImg{
    width: 30%;
    margin-top: .5rem ;
    margin-bottom: .5rem ;
}

.userInfo{
    width: 60%;
    margin-top: .5rem ;
    margin-bottom: .5rem ;
}

.userEditButton{
    border-radius: 5px;
    margin-top: .1rem ;
    margin-bottom: .5rem ;
    padding-top: .1rem ;
    padding-bottom: .1rem ;
    width: 100%;
    color: whitesmoke;
    background-color: green;    
}

.deleteUserButton{
    width: 75px;
    border-radius: 5px;
    margin: .2rem;
    position: absolute;
    color: whitesmoke;
    background-color: red;
    right: 20px;
    bottom: 10px;
}

.editUserButton{
    width: 75px;
    border-radius: 5px;
    margin: .2rem;
    position: absolute;
    color: whitesmoke;
    background-color: green;  
    left: 20px;
    bottom: 10px;  
    border: none;
    box-shadow: 0 0 10px #000;
}

.text-danger{
    font-size: 10px;
    color: red;
}

.is-invalid{
    border-color: red;
}


.dropdown {
  float: left;
  overflow: hidden;
  align-items: center;
}

/* Dropdown button */
.dropdown .dropbtn {
    align-items: center;
    border-radius: inherit;
    box-shadow: inherit;
    font-size: 15px;
    border: none;
    outline: none;
    color: black;
    padding: 5px;
    padding-bottom: 0px;
    background-color: inherit;
    font-family: 'Permanent Marker', cursive;
  /* font-family: inherit; /* Important for vertical align on mobile phones
  margin: 0; Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5) ;
    border-radius: 10PX;
    min-width: 160px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 5px;
    padding-bottom: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px ;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: tomato;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

.imgProfile{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    
}

.remember_user{
    font-size: 15px;
}

.ok{
    background-color: rgb(161, 228, 161);
}

.bad{
    background-color: rgb(221, 157, 157);
}