<footer class="footer">

    <section class=" footer-align">
        <div class="center">
            <i class="fas fa-users icon-footer"></i>
            <h4>Quienes Somos</h4>
            <p>No solo somos especialistas en lo que hacemos, sino que amamos lo que hacemos y eso marca la diferencia. </p>
            <br>
        </div>
        <div class="center">
            <i class="fas fa-shipping-fast icon-footer"></i>
            <h4>Envíos rápidos</h4>
            <p>Realizamos entregas urgentes de 24hs a un coste adicional y trabajamos con las empresas de transporte más serias y confiables del mercado, como DHL y FedEx.</p>
            <br>
        </div>
        <div class="center">
            <i class="fas fa-credit-card icon-footer"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Te ofrecemos cuotas sin interés con tarjeta o efectivo en
                    puntos de pago e importantes descuentos semanales.</p>
                <br>
        </div>
        <br>
        <br>
        
        <p class="align-left">Copyright © 1999-2020 El Mundo de la Música S.A. Todos los derechos reservados. </p>

    </section>

</footer>