<header class="header">
    <div class="container logo-container">
        <a class="headerIntro" href="/"><img src="/images/bannerLogo/Logo-EMDLM.png" alt="Logo EMDLM"> </a> 
        <h1 class="headerTitulo">Si te suena, estas en...<br> El Mundo de la Música!</h1>             
        <form class="headerIntro" action="get">
            <input style="display: inline; width: 5rem ; text-align: center;padding-right: 0; border-radius: 5px; "  type="text" placeholder="Buscar">
            <button style="display: inline;"><i class="fas fa-search" ></i></button>
        </form>

    </div>
 
    <nav>
        <ul>
            <li><a href="../../products/">Productos</a></li>
            <li><a href="../../products/tutorial">Tutoriales</a></li>
            <% if(locals.isLogged){%>
                <% if(locals.userLogged.id_category == 1){%>
                <li><a href="../../products/productCreate">Nuevo Producto</a></li>
                <% } %>
            <% } %>
            
        </ul>
        <ul> 
            
            <% if(locals.isLogged){%>
                <img src="/images/users/<%= locals.userLogged.image%>" alt="" class="imgProfile"> 
                <div class="dropdown">                    
                    <button class="dropbtn"> 
                        
                        <%= locals.userLogged.first_name%>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="../../users/login">Mi Perfil <i class="fas fa-sign-in-alt"></i></a>
                        <a href="../../users/logout">Salir <i class="far fa-id-card"></i></a>
                        <% if(locals.userLogged.id_category == 1){%>
                            <a href="../../users">Usuarios <i class="fas fa-sign-in-alt"></i></a>
                        <% } %>
                    </div>
                </div>  
            <% } else { %>  
                <li><a href="../../users/register">Registrate <i class="far fa-id-card"></i></a></li>
                <li><a href="../../users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <% } %>

            <li><a href="../../products/productCart">Carrito <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>

    
    <div class="burger-menu">
        <button ><i class="fa fa-bars burger"></i></button>
    </div>


</header>