<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>El Mundo de la Música</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header class="header">
            <div class="container logo-container">
                <a href="/"><img src="/images/Logo-EMDLM.png" alt="Logo EMDLM"> </a>              
                <form action="get">
                    <input style="display: inline; width: 5rem ; text-align: center;padding-right: 0; border-radius: 5px; "  type="text" placeholder="Buscar">
                    <button style="display: inline;"><i class="fas fa-search" ></i></button>
                </form>

            </div>
            <nav>
                <ul>
                    <!-- <li><a href="#">Ofertas</a></li> -->
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Tutoriales</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Registrate <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/productCart">Carrito <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>

            <div class="burger-menu">
                <button ><i class="fa fa-bars burger"></i></button>
            </div>


        </header>
        
    

        <main class="main">
            <section class="banner">
                <img src="images/Banner-principal-2.png" alt="Banner principal">
            </section>
            <section class="container">
                <h3 class="productosDestacados">Productos destacados</h3>
                <div class="products">
                    <article>
                        <img src="images/Producto-1.jpg" alt="p1" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                            
                            
                        </div>                        
                    </article>
                    <article>
                        <img src="images/Producto-2.jpg" alt="p2" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                        </div>                        
                    </article>                    
                    <article>
                        <img src="images/Producto-3.jpg" alt="p3" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                        </div>                        
                    </article>                    
                    <article>
                        <img src="images/Producto-4.jpg" alt="p4" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                        </div>                        
                    </article>                    
                    <article>
                        <img src="images/Producto-5.jpg" alt="p5" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                        </div>                        
                    </article>                    
                    <article>
                        <img src="images/Producto-6.jpg" alt="p6" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                        </div>                        
                    </article>                    
                    <article>
                        <img src="images/Producto-7.jpg" alt="p7" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                        </div>                        
                    </article>                   
                    <article>
                        <img src="images/Producto-8.jpg" alt="p8" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-music"></i>
                            <p class="price">$6.770</p>
                            <p class="finalPrice">$6.770</p>
                            <p class="discount">40% off</p>
                            <h4 class="description">Descripcion</h4>
                            <i class="fas fa-cart-arrow-down"  ></i>
                        </div>                        
                    </article>


                </div>
            </section>
            

        </main>
      
        <footer class="footer">
            <section class="container footer-align">
                <div class="center">
                    <i class="fas fa-credit-card icon-footer"></i>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                            puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div class="center">
                    <i class="fas fa-gift icon-footer"></i>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                            puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div class="center">
                    <i class="fas fa-user-shield icon-footer"></i>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                </div>
                <br>
                <br>
                
                <p class="align-left">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

            </section>

        </footer>
        
    

    </body>
</html>