<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>El Mundo de la Música</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header class="header">
            <div class="container logo-container">
                <img src="/images/LogoIII.jpg" alt="Logo EMDLM">
                <h3>El Mundo de la Música</h3>
                <form action="get">
                    <input style="display: inline; width: 150px ; margin-left: 20px;"  type="text" placeholder="Buscar productos, marcas" >
                    <button style="display: inline;"><i class="fas fa-search" ></i></button>
                </form>

            </div>
            <h4>Soy el header </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore doloremque voluptate co</p>
        </header>

        <main class="main">
            <h4>Soy el main </h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci provident a sed, et fuga cum delectus vel error accusantium nesciunt illum doloremque ipsum blanditiis. Officiis aspernatur cupiditate aliquid quos hic?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci provident a sed, et fuga cum delectus vel error accusantium nesciunt illum doloremque ipsum blanditiis. Officiis aspernatur cupiditate aliquid quos hic?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci provident a sed, et fuga cum delectus vel error accusantium nesciunt illum doloremque ipsum blanditiis. Officiis aspernatur cupiditate aliquid quos hic?</p>
            

        </main>
        
        <footer class="footer">
            <h3>Footer</h3>
            <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum corrupti nemo dignissimos placeat sapiente blanditiis velit esse tenetur solu</P>
        </footer>
        
    

    </body>
</html>