<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

    <body>
        <%- include("../partials/header.ejs")%>
        
    

        <main class="main">

            <H1>Detail</H1>
                
            </section>
            <%- include("../partials/bannerBottom.ejs")%>

        </main>


      
        <%- include("../partials/footer.ejs")%>
        
    

    </body>
</html>