<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>El Mundo de la Música</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header class="header">
            <div class="container logo-container">
                <a class="headerIntro" href="/"><img src="/images/Logo-EMDLM.png" alt="Logo EMDLM"> </a> 
                <h1 class="headerTitulo">Si te suena!!! estas en... El Mundo de la Música</h1>             
                <form class="headerIntro" action="get">
                    <input style="display: inline; width: 5rem ; text-align: center;padding-right: 0; border-radius: 5px; "  type="text" placeholder="Buscar">
                    <button style="display: inline;"><i class="fas fa-search" ></i></button>
                </form>

            </div>
            <nav>
                <ul>
                    <!-- <li><a href="#">Ofertas</a></li> -->
                    <li><a href="/products">Productos</a></li>
                    <li><a href="/tutorial">Tutoriales</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Registrate <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/productCart">Carrito <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>

            <div class="burger-menu">
                <button ><i class="fa fa-bars burger"></i></button>
            </div>


        </header>
        
    

        <main class="main">
            <section class="banner">
                <img src="images/Banner-principal-2.png" alt="Banner principal">
            </section>
            <br>
            <br>
            <section class="banner">
                <img src="images/Banner-secundario-2.jpeg" alt="Banner secundario">
            </section>

        </main>

      
        <footer class="footer">

            <section class=" footer-align">
                <div class="center">
                    <i class="fas fa-users icon-footer"></i>
                    <h4>Quienes Somos</h4>
                    <p>No solo somos especialistas en lo que hacemos, sino que amamos lo que hacemos y eso marca la diferencia. </p>
                    <br>
                </div>
                <div class="center">
                    <i class="fas fa-shipping-fast icon-footer"></i>
                    <h4>Envíos rápidos</h4>
                    <p>Realizamos entregas urgentes de 24hs a un coste adicional y trabajamos con las empresas de transporte más serias y confiables del mercado, como DHL y FedEx.</p>
                    <br>
                </div>
                <div class="center">
                    <i class="fas fa-credit-card icon-footer"></i>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Te ofrecemos cuotas sin interés con tarjeta o efectivo en
                            puntos de pago e importantes descuentos semanales.</p>
                        <br>
                </div>
                <br>
                <br>
                
                <p class="align-left">Copyright © 1999-2020 El Mundo de la Música S.A. Todos los derechos reservados. </p>

            </section>

        </footer>
        
    

    </body>
</html>